<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
</head>
<body>
    <h1>Hello world!</h1>
    {% for product in products %}
        <div>
            <hr>
            <p>Название: {{ product.title }}</p>
            <p>Описание: {{ product.description }}</p>
            <p>Цена: {{ product.price }}</p>
            <p style="{% if product.stock == 0 %}color: red;{% else %}color: blue;{% endif %}">Наличие: {{ product.stock }}</p>
            <p>Свойства</p>
            <ul>
                {% for attribute in product.attributes.all %}
                    <li>{{ attribute.name }}</li>
                {% endfor %}
            </ul>
            <hr>
        </div>
    {% endfor %}
</body>
</html>